bidict==0.23.1
breeze-connect==1.0.56
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
et-xmlfile==1.1.0
getmac==0.9.4
h11==0.14.0
idna==3.7
numpy==1.26.4
openpyxl==3.1.4
pandas==2.2.2
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.2
pytz==2024.1
requests==2.32.3
simple-websocket==1.0.0
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
websocket-client==1.8.0
wsproto==1.2.0
XlsxWriter==3.2.0
